:root {
  --dark-olive: #303633;
  --soft-purple: #888DA7;
  --teal: #8BE8CB;
  --darker-purple: #9C7A97;
  --light-blue: #7EA2AA;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-olive);
  color: white;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
